$blue01: #446084;
$blue02: #1481e7;
$orange: #ec7000;
$red: #e60000;
$whatsapp: #28D755;
$black: #000000;
$gray01: #7F8086;
$gray02: #818284;
$gray03: #666666d9;
$gray04: #E5E5E6;
$gray05: #D3D3D3;
$gray06: #605751;
$white: #ffffff;

@mixin flex-element($direction: row, $align: center, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin breakpoint($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}
