@import "../../Assets/scss/config";

.movie-container {
  @include flex-element(row, center, space-between);
  max-width: 95rem;
  width: 100%;
  .movie-details {
    @include flex-element(column, flex-start);
    gap: 3rem;
    max-width: 50rem;
    width: 100%;
    h3 {
      font-size: 3rem;
      color: $black;
    }
    p {
      font-size: 2.2rem;
      color: $black;
    }
  }
  div {
    max-width: 30rem;
    img {
      width: 100%;
      border-radius: 2rem;
    }
  }
}

@include breakpoint(700px) {
  .movie-container {
    flex-direction: column;
    gap: 3rem;
    .movie-details {
      align-items: center;
      text-align: center;
    }
  }
}
@include breakpoint(550px) {
  .no-search {
    p {
      text-align: center;
    }
  }
}