@import "../../Assets/scss/config";

header {
  width: 100%;
  min-width: 37.5rem;
  height: 9rem;
  background-color: #7F8086;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 2rem;
    div {
      max-width: 20rem;
    }
    img {
      height: 8rem;
    }
    .links {
      width: fit-content;
      cursor: pointer;
      border-radius: 1.5rem;
      padding: 0.5rem;
      font-size: 1.6rem;
      border: 0.5rem solid transparent;
      background-color: transparent;
      color: $gray04;
      transition: 0.5s;
    }
    .links:hover {
      background-color: $gray04;
      color: $black;
    }
  }
}