@import "../../Assets/scss/config";

.favorites {
  @include flex-element(column, center, center);
  h1 {
    margin: 2rem 0;
  }
  .movie-repeat {
    border: 1px solid $black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem 0;
  }
}