@import "../../Assets/scss/config";

footer {
  width: 100%;
  min-width: 37.5rem;
  height: 5rem;
  .container {
    @include flex-element(row, center, center);
    height: 100%;
    padding: 1rem 2rem;
    div {
      @include flex-element(row, center, center);
      gap: 3rem;
    }
    img {
      width: 100%
    }
    .links {
      width: fit-content;
      cursor: pointer;
      border-radius: 1.5rem;
      padding: 0.5rem;
      font-size: 1.6rem;
      border: 0.5rem solid transparent;
      background-color: transparent;
      color: $white;
      transition: 0.5s;
    }
    .links:hover {
      background-color: $black;
    }
  }
}